@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: 0, 83, 143;
    --bg-secondary: 0, 83, 143;
    --bg-accent: 15, 23, 42;

    --text-primary: 0, 0, 0;
    --text-secondary: 56, 63, 74;
    --text-tertiary: 255, 255, 255;
  }
  .dark {
    --bg-primary: 15, 23, 42;
    --bg-secondary: 30, 41, 59;
    --bg-accent: 30, 41, 59;
  }
}

.addNewCardInput:focus ~ .input-text{
  @apply text-blue-500
  bg-white
  transform 
  -translate-y-10
  -translate-x-2
  scale-75;
}